body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #818181;
  }
  
  .calculator {
    background-color: #444444;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  #display {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #256985;
  }
  
  button:hover {
    background-color: #256985;
  }